@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    background-color: #bbbbbb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
canvas {
    background-color: #eee;
    border: 1px solid #111;
}

.tools {
    box-shadow: 0 5px 10px rgba(34, 34, 34, 0.57);
    width: 600px;
    background-color: #fff;
    padding: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.tools button {
    font-size:  2rem;
    font-weight: bold;
    background-color: #fff;
    border: none;
    box-shadow: 0 5px 10px rgba(34, 34, 34, 0.1);
    padding: 0.5rem;
    width: 50px;
}
.clear {
    background: url('trash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    margin-left: auto;
}
#color {
    height: 50px;
}